<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Coffee Blend</title>

	<!-- favicon -->
	<!-- <link rel="shortcut icon" type="image/png" href=""> -->


	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="user_assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="user_assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="user_assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="user_assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="user_assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="user_assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="user_assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="user_assets/css/responsive.css">

</head>
<body>
	
	<!--PreLoader-->
    <!-- <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div> -->
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- <a class="navbar-brand" href="index.html">Coffee<small>Blend</small></a> -->
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="/">Home</a></li>
								<li><a href="/shop">shop</a></li>
								
								<li><a href="contact.html">Contact</a></li>
								<li>
								<a href="#">category</a>
								<ul class="sub-menu">
									<li class="nav-item">
									<% categories.filter(category => category.status !== false).forEach(category => { %>
									<li> <!-- Wrap each sub-category item in its own list item -->
									<a class="dropdown-item" href="/shop?category=<%= category._id %>">
										<%= category.name %>
									</a>
									</li>
									<% }); %>
									</li>
								</ul>
								</li>
								
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="/cartpage"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-heart"></i></a>
                                        <a class="mobile-hide search-bar-icon" href="/profile"><i class="fas fa-user"></i></a>
									</div>
									<div class="search-bar">
										<form action="/searchProducts"method='post'>
										  <input name="searchProducts" type="text" class="search-input" placeholder="Search...">
										  <button class="search-button"><img src="/user_assets/img/search-50.png" style="height: 20px;"></button>
										  </form>
										</div>
								</li>
							</ul>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
    <div style="background-color: black; height: 150px;"></div>


    <div class="hero" style="padding: 20px;" >
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5 ">
                    <div class="intro-excerpt">
                        <h1>Order Confirmation</h1>
                    </div>
                </div>
                <div class="col-lg-7">
                    <!-- ... (additional content if needed) ... -->
                </div>
            </div>
        </div>
    </div>

    <section class="order_details section_gap">
        <div class="container">
            <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
            <div class="row order_d_inner">
                <div class="col-lg-4" style="padding: 20px;">
                    <div class="details_item ">
                        <h4>Order Info</h4>
                        <ul class="list">
                            <li><a href="#" style=" color: black;"><span>Order Id</span> : <%= order.orderId %></a></li>
                            <li><a href="#" style=" color: black;"><span>Date</span> : <%= order.createdAt %></a></li>
                            <li><a href="#" style=" color: black;"><span>Total</span> : <%= order.totalPrice %></a></li>
                            <li><a href="#" style=" color: black;"><span>Payment method</span> : <%= order.paymentMethod %></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4" style="padding: 20px;">
                    <div class="details_item">
                        <h4>Shipping Address</h4>
                        <ul class="list">
                            <li><a href="#" style=" color: black;"><span>House Name </span> : <%= order.shippingAddress.adname %></a></li>
                            <li><a href="#" style=" color: black;"><span>Street</span> : <%= order.shippingAddress.street %></a></li>
                            <li><a href="#" style=" color: black;"><span>City</span> : <%= order.shippingAddress.city %></a></li>
                            <li><a href="#" style=" color: black;"><span>Country</span> : <%= order.shippingAddress.country %></a></li>
                        </ul>
                    </div>
                </div>
                <div class="order_details_table" >
                    <h2>Invoice</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% order.items.forEach(item => { %>
                                <tr>
                                    <td>
                                        <p><%= item.productName %></p>
                                    </td>
                                    <td>
                                        <p> x <%= item.quantity %></p>
                                    </td>
                                    <td>
                                        <p><%= item.quantity * item.price %></p>
                                    </td>
                                </tr>
                                <% }) %>
                                <tr>
                                    <td>
                                        <h4>Subtotal&nbsp&nbsp:&nbsp&nbsp<span><%= order.totalPrice %></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Total&nbsp&nbsp:&nbsp&nbsp<span><%= order.totalPrice %></span></h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>203 Fake St. Mountain View, San Francisco, California, USA.</li>
							<li>support@coffeeblenf.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">Menu</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<!-- <div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div> -->
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="/user_assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/user_assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/user_assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/user_assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/user_assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/user_assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/user_assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/user_assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/user_assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/user_assets/js/main.js"></script>

</body>
</html>