<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Coffee Blend</title>

	<!-- favicon -->
	<!-- <link rel="shortcut icon" type="image/png" href=""> -->


	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="user_assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="user_assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="user_assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="user_assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="user_assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="user_assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="user_assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="user_assets/css/responsive.css">
	<style>
		.popular-img img,
        .choice-watch-img img {
            height: 260px; 
            width: 379.98px; 
        }
	</style>

</head>
<body>
	
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- <a class="navbar-brand" href="index.html">Coffee<small>Blend</small></a> -->
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="/">Home</a></li>
								<li><a href="/shop">shop</a></li>
								
								<li><a href="contact.html">Contact</a></li>
								<li>
                  <a href="#">category</a>
                  <ul class="sub-menu">
                    <li class="nav-item">
                    <% categories.filter(category => category.status !== false).forEach(category => { %>
                      <li> <!-- Wrap each sub-category item in its own list item -->
                      <a class="dropdown-item" href="/shop?category=<%= category._id %>">
                        <%= category.name %>
                      </a>
                      </li>
                    <% }); %>
                    </li>
                  </ul>
                  </li>     
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="/cartpage"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-heart"></i></a>
                                        <a class="mobile-hide search-bar-icon" href="/profile"><i class="fas fa-user"></i></a>
										<div class="search-bar">
											<form action="/searchProducts"method='post'>
											  <input name="searchProducts" type="text" class="search-input" placeholder="Search...">
											  <button class="search-button"><img src="/user_assets/img/search-50.png" style="height: 20px;"></button>
											  </form>
											</div>
									</div>
								</li>
							</ul>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
    	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Welcome</p>
							<p class="font"><h1>Amazing Taste & Beautiful Place</h1></p>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Shop</a>
								<a href="contact.html" class="bordered-btn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->



	<div class="hero">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1><%= categoryName %></h1>
                    </div>
                </div>
                <div class="col-lg-7 d-flex justify-content-end align-items-center">
                    <div class="sorting-filtering-options" style="padding: 20px;">
                        <!-- Sorting Options -->
							<div class="sorting-options">
								<form id="sortform" action="/sortProducts" method="GET">
									<select id="sortSelect"  name="sortPro" class="form-control-lg" onchange="submitSortForm()">
										<% if (locals.sorting) { %>
										<option value="default"  disabled selected><%=sorting%></option>
										<% } else { %>
											<option value="default"; disabled selected>Sort-by</option>
											<% } %>
	
										<option value="1">Price: Low To High</option>
										<option value="-1">Price: High To Low</option>
	
										<!-- Add more options based on your needs -->
									</select>
									<input type="hidden" name="category" value="<%= selectedCategory %>">
									<% if (locals.selectedType) { %>
									<input type="hidden" name="type" value="<%= selectedType || 'All'%>">
									<% } else { %>
										<input type="hidden" name="type" value="All">
									<% } %>
								</form>
	
								</div>
					
            
                       <!-- Filtering Options -->
							<!-- <div class="filtering-options">
								<form id="filterForm" action="/filterProducts" method="GET">
									
									<select id="filterSelect" name="filterType" class="form-control-lg" onchange="submitFilterForm()">
										<% if (locals.selectedType) { %>
											<option value="default" disabled><%= selectedType %></option>
										  <% } else { %>
											<option value="default" disabled selected>Filter-by</option>
										  <% } %>
										  

										  <% if (theCategory && theCategory[0].types) { %>
											<% theCategory[0].types.forEach(function(option) { %>
											   <option value="<%= option %>"><span><%= option %></span></option>
											<% }); %>
										  <% } %>
										  
										
									</select>
									<input type="hidden" name="category" value="<%= selectedCategory %>">
									<% if (locals.sortoption) { %>
										<input type="hidden" name="sortoption" value="<%= sortoption%>">
										<% } %>
								</form>
							</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>



	<div class="container" >
        <div class="row">
          <% products.filter(category => category.status !== false).forEach(product => { %>
            <div class="col-12 col-md-4 col-lg-3 mb-4">
              <div class="popular-img fixed-card-size">
                <img src="<%= product.images[0] %>" class="card-img-top img-fluid product-thumbnail" alt="<%= product.name %>">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title padding-130" style="height: 50px; overflow: hidden;"><%= product.name %></h5>
                  <div class="price-details mt-auto">
                    <p class="card-text">
                      <strong class="product-price d-block" style="color: rgb(81, 5, 202);">₹<%= product.price.toFixed(2) %></strong>
                    </p>
                    <a href="/singleproduct/<%= product._id %>" class="btn btn-primary">View Details</a>
                  </div>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
	  
	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>203 Fake St. Mountain View, San Francisco, California, USA.</li>
							<li>support@coffeeblenf.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">Menu</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<script>
		document.addEventListener('DOMContentLoaded', function() {
		  // Get all the card elements
		  var cards = document.querySelectorAll('.card');
	  
		  // Find the maximum height
		  var maxHeight = 0;
		  cards.forEach(function(card) {
			var cardHeight = card.clientHeight;
			if (cardHeight > maxHeight) {
			  maxHeight = cardHeight;
			}
		  });
	  
		  // Set the same height for all cards
		  cards.forEach(function(card) {
			card.style.height = maxHeight + 'px';
		  });
		});
	  </script>

<script>
	function submitFilterForm() {
document.getElementById('filterForm').submit();
}
function submitSortForm() {
document.getElementById('sortform').submit();
}
   </script>
	<!-- jquery -->
	<script src="/user_assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/user_assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/user_assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/user_assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/user_assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/user_assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/user_assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/user_assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/user_assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/user_assets/js/main.js"></script>

</body>
</html>