<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('/user_assets/img/bg_1.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
        }

        #login-container {
            background-color: rgba(255, 255, 255, 0.103);
            padding: 30px;
            border-radius: 8px;
            width: 300px;
            text-align: center;          
        }

        #login-container h5 {
            margin-bottom: 20px;
        }

        #login-container h3 {
            margin-bottom: 20px;
        }

        #login-container .form-group {
            margin-bottom: 15px;
            color: white;

        }

        #login-container button {
            margin-top: 15px;
            background: rgb(240, 182, 7);
            width: 100px;
        }

        @media (min-width: 768px) {
            /* Medium devices and above */
            #login-container {
                margin-left: auto;
                margin-right: auto;
            }
        }

        @media (min-width: 992px) {
            /* Large devices and above */
            #login-container {
                margin-left: 900px;
                margin-right: 0;
            }
        }
    </style>
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4" id="login-container">
                <h5>COFFEE BLEND</h5>
                <h3>Signin Here</h3>
                <form  action="/signup" method="post">
                    <div class="form-group">
                        Enter Username
                        <input type="text" class="form-control" name="username" placeholder="Username" required>
                        <% if(locals.nameerror){%>
                            <div class="alter text-danger text-start"><%= locals.nameerror%></div>
                
                        <%}%>
                    </div>
                    <div class="form-group">
                        Enter Email
                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                        <% if(locals.emailerror){%>
                            <div class="alter text-danger text-start"><%= locals.emailerror%></div>
                
                        <%}%> 
                    </div>
                    <div class="form-group">
                        Enter Mobile no
                        <input type="text" class="form-control" name="phone" placeholder="Phone number" required>
                        <% if(locals.phoneerror){%>
                            <div class="alter text-danger text-start"><%= locals.phoneerror %></div>
                
                        <%}%>
                    </div>
                    <div class="form-group">
                        Enter Password
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        confirm Password
                        <input type="password" name="confirm_password"  class="form-control" placeholder="confirm Password" required>
                    </div>
                    <div class="col-md-12 form-group">
                        Referal Offer
                        <input type="tel" class="form-control" id="code" name="code" placeholder="Referal Code"style="width: 100%">
                    </div>
                    <button type="submit"  class="btn btn-success "  >SIGNIN</button>
                </form>
                <% if(locals.passworderror){%>
                    <div class="alter text-danger text-start"><%= locals.passworderror %></div>
        
                <%}%>
                <% if(locals.cpassworderror){%>
                    <div class="alter  text-start"><%= locals.cpassworderror %></div>
        
                <%}%>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies (jQuery and Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
